name: Cron Actions

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate HA integration
    steps:
        - uses: "actions/checkout@v6"

        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"

        - name: Hassfest validation
          uses: "home-assistant/actions/hassfest@master"