name: Pull Actions

on:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate HA integration
    steps:
        - uses: "actions/checkout@v6"

        - name: Set up Python
          uses: actions/setup-python@v6
          with:
            python-version: "3.12"

        - name: Cache pip
          uses: actions/cache@v5
          with:
            path: ~/.cache/pip
            key: ${{ runner.os }}-pip-${{ hashFiles('scripts/setup.sh') }}
            restore-keys: |
              ${{ runner.os }}-pip-

        - name: Install dependencies
          run: |
            ./scripts/setup.sh

        - name: Run unit tests
          run: |
            pytest -vv

        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"

        - name: Hassfest validation
          uses: "home-assistant/actions/hassfest@master"